/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
@media (prefers-color-scheme: dark) {
  :root {
    --bg-image-dark: url(../images/cover-image-dark.png);
  }
}
:root.theme-dark {
  --accent-color: #ff0070;
  --title-accent-color: #ff0070;
  --button-color: #ff0070;
  --title-shadow-color: #ff0070;
  --border-transparent: rgba(255, 0, 112, 0.4);
  --title-color: #db00ff;
  --text-color: #f1b2ce;
  --text-font-color: #000028;
  --background-color: #000028;
  --background-image: url("../images/cover-image-dark.png");
  --decor-rec: block;
}